
body {
    margin: 0;
    text-align: center;
    font-size: large;
    font-family:'Thasadith', sans-serif;
}
    
h1 {
        margin: 0;
        font-family:'Waterfall', cursive;
        font-size: 6.4rem;
        color: #66BFBF;
}

h2 {
        font-size: 2.5rem;
        color: #66BFBF;
        font-weight: normal;
}

h3 {
        color: #11999E;
}

a {
        color: #11999E;
}

.top-container {
    background-color: #E8F3D6;
    position: relative;
    padding-top: 50px;

}

.middle-container {
    background-color: blanchedalmond;
    padding-top: 40px;

}

.bottom-container {
    background-color: blanchedalmond;

}
.bottom-container p {
    margin-bottom: 0px;
   
}

.blossom-1 {
    position:absolute;
    left: 100px;
    top: 0px;
    height: 200px;
    width: 200px;
}

.blossom-2 {
    position: absolute;
    top: 0px;
    right: 100px;
    height: 200px;
    width: 200px;
}

.mountain {
    width: 800px;
    height: 450px;
    margin-bottom: 25px;
}